/* Общие стили */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

a {
  color: #1a73e8;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #d32f2f;
}

header {
  text-align: center;
  padding: 20px;
}

h1, h2, h4 {
  color: #1a73e8;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

/* Стили для контейнера */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Стили для разделов */
.intro {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.column {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.facts ol {
  padding-left: 20px;
}

.facts li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.new-card {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  display: none;
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Стили для изображений */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

figcaption {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

/* Стили для подвала */
footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}
