body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

h1, h2 {
  color: #1a73e8;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

img {
  display: block;
  margin: 10px 0;
  width: 450px;   
  height: 300px;
}

ol {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}
